<% provide(:title, "Contact Us") %>

<div class="center">
	<h1>Contact Us</h1>
	<br/>
	<div class="row">
	  	<div class="col-md-6 col-md-offset-3">
			<table class="table">
				<!-- <thead>
					<tr>
						<td> <h4>Username</h4> </td>
						<td> <h4>Password</h4> </td>
						<td></td>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<td> Nivedita Natarajan </td>
						<td> nnatara2@ncsu.edu </td>
					</tr>
					<tr>
						<td> Sandeep Reddy Katypally </td>
						<td> skatypa@ncsu.edu </td>
					</tr>
					<tr>
						<td> Yuxin Cheng </td>
						<td> ycheng15@ncsu.edu </td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>

</div>
